.form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control label {
  font-size: larger;
  font-weight: bold;
}

.control input,
.control textarea {
  font-size: large;
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: #21262d;
  color: rgb(255, 255, 255);
  padding: 0.5rem 1.5rem;
  border-color: #2d3137;
  border-radius: 12px;
  border-width: thick solid;
  margin: auto;
}
.captcha {
  overflow: auto;
}
.actions button:hover,
.actions button:active {
  background-color: #ffffff;
  color: black;
}

.signup {
  color: #ffffff;
}

.signup link:active {
  color: #ffffff;
}

.signup link:hover {
  color: black;
}
